<form [formGroup]="form" class="flex flex-col gap-4 p-6">

    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="save()"
        [disabled]="form.invalid">
        Salvar
    </button>

</form>